repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml

# Ruff: formatting and linting is run in CI via uv-run; include simple python check here
  - repo: https://github.com/pre-commit/mirrors-flake8
    rev: 6.1.0
    hooks:
      - id: flake8
